<!DOCTYPE =html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="/styles.css">
    </head>
    <body>
        <h1>Robots User Directory</h1>
        <div class="directoryContainer">
            {{#users}}
                <div class="usercard">
                    <img src="{{avatar}}"><br>
                    <a href="/profile/{{{id}}}"><p class="nameOfPerson">{{name}}</p></a>
                    <p class="jobInfo">{{job}}, {{company}}</p>
                </div>
            {{/users}}
        </div>
    </body>
<html>

/*correct version
<a href="/profile/{{id}}"><p class="nameOfPerson">{{name}}</p></a>*/